<mat-card>
  <mat-card-title>
    Chat
  </mat-card-title>

  <mat-card>
    <app-message *ngFor="let message of messages | async" [message]="message"></app-message>
  </mat-card>

  <form class="example-form" [formGroup]="form" (ngSubmit)="formSubmitSubject.next()">
    <mat-form-field>
      <input required [formControlName]="'sender'" matInput placeholder="Sender" type="text"/>
    </mat-form-field>
    <mat-form-field>
      <input required [formControlName]="'message'" matInput placeholder="Message" type="text"/>
    </mat-form-field>
    <mat-form-field>
      <input [formControlName]="'linkImage'" matInput placeholder="Image url" type="text"/>
    </mat-form-field>
    <mat-form-field>
      <input [formControlName]="'link'" matInput placeholder="url" type="text"/>
    </mat-form-field>
    <button class="margin" type="submit" mat-raised-button color="primary">Send</button>
  </form>
</mat-card>
