
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Sender: {{ message.sender }}</mat-card-title>
    <mat-card-subtitle>{{ message.time }}</mat-card-subtitle>
  </mat-card-header>
  <ng-container *ngIf= message.linkImage>
      <img mat-card-image src="{{ message.linkImage }}">
  </ng-container>
  <ng-container *ngIf= !message.linkImage>
      <img mat-card-image src="https://st2.depositphotos.com/8440746/11228/v/950/depositphotos_112286670-stock-illustration-laptop-user-icon-computer-device.jpg">
  </ng-container>

  <mat-card-content>
    <p>
        Message: {{ message.body }}
    </p>
    <p> Link: {{ message.link }}</p>
  </mat-card-content>
</mat-card>
